
.container{
  width: 100vw;
  height: 100vh;
  padding-top: 0px;
  padding: 5%;
  display: flex;

}

.container .charts{
  margin-right: 45px;
  border: 1px solid;
  width: 100%;
  margin-left: 24px;
  height: 100%;
}
.coin-btn {
  height: 50;
  box-shadow: 0px 0px 10px rgba(92, 92, 92, 0.7);
  width: 150px;
  font-family: sans-serif;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  cursor: pointer;
}

 .active {
  background-color: rgb(184, 214, 248);
}

